# Firebase console > Project Overview > General > Your apps > Firebase SDK snippet
REACT_APP_FIREBASE_apiKey = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
REACT_APP_FIREBASE_authDomain = "xxxxxxxx.firebaseapp.com"
REACT_APP_FIREBASE_projectId = "xxxxxxxx"
REACT_APP_FIREBASE_storageBucket = "xxxxxxxx.appspot.com"
REACT_APP_FIREBASE_messagingSenderId = "0000000000000"
REACT_APP_FIREBASE_appId = "0:0000000000000:web:xxxxxxxxxxxxxxxxxxxxxx"
