<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<%= render 'form' %>

<div class="comment-list">
  <% @comments.each do |comment| %>
    <article class="comment-item">
      <div class="body"><%= comment.body %></div>
      <footer><%= link_to comment.created_at.in_time_zone('Tokyo'), comment %></footer>
    </article>
  <% end %>
</div>
