.TaskListItem {
  list-style: none;
  text-indent: calc(-1 * var(--list-start-indent));
}

.TaskListItem-checkboxWrapper {
  display: inline-block;
  text-indent: 0;
  width: var(--list-start-indent);
}
